
.background{
    background-color: aqua;
    width: 1000px;
    height: 1500px;
    margin: 0 auto;
    position: relative;
}

.body{
    width: 300px;
    height: 400px;
    background-color: black;
    border-top-left-radius: 80px 80px;
    border-top-right-radius: 80px 80px;
    margin: auto;
    position: relative;
    top: 100px;
}


.beak{
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
  
    border-left: 60px solid green;
    position: relative;
    left: 650px;
    top: -200px;
}

.eye{
    background-color: yellow;
    position: relative;
    height: 20px;
    width: 20px;
    left: 550px;
    top: -350px; 
}